<div class="col-xs-12 col-md-10" id="post">
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-badge default">+</div>

      <div class="timeline-panel">
        <div class="timeline-heading" >
          <%= link_to( 'New Post', new_post_path ) %>
        </div>
      </div>
    </li>
    <%= render @posts %>
  </ul>
  <%= paginate @posts %>
</div>