<div class="page-header">
  <h1>Welcome <%=@user.first_name + ' ' + @user.last_name + "!"%></h1>
  <h2 id="userStatus">You are a standard user!</h2>
  <script>
  if (<%=@user.is_admin? %>) {
    document.getElementById("userStatus").innerHTML = "You are an admin!";
  }
  </script>
  <%= image_tag(@user.avatar.url(:thumb)) %>
</div>
